@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto&display=swap');


$main-color: #5f9ea0;
$mainFontColor: #fff;
$default-font: 'arial', 'sans-serif';
$special-font: 'PT Sans', 'roboto', arial, sans-serif;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    background-color: $main-color;
    font-family: $default-font;
    color: $mainFontColor;
}

.wrapper {
    // kontener
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    
    // pozycja i rozmiary
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;

    // wygląd 
    font-size: 2rem;
    background-color: #fff;
    box-shadow: 0 0 4px 0 #000;
}

.logo {
    flex-basis: 100px;
    // height: 160px;
    // background-color: #A89D5B;
    &__image {
        display: block;
        width: 100%;
        margin-left: 20px;
        padding-bottom: 10px;
    }
}

.search {
    // element elastyczny
    // background-color: darkorange;
    flex-grow: 1;
    // kontener flexbox
    display: flex;
    align-items: center;
    justify-content: center;
    &__input {
        flex-basis: 60%;
        height: 50%;
        margin-right: 10px;
        padding: 0 10px;
        font-size: 1.4rem;
        &:focus {
            box-shadow: 0 0 2px .1px $main-color;
        }
    }
    &__btn {
        height: 50%;
        font-size: 1.4rem;
        padding: 0 20px;
        border: 2px solid black;
        background-color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        transition: .4s;
        &:hover {
            background-color: #000;
            color: #fff;
        }
    }

}

.settings {
background-color: darkred;
padding: 0 50px;
}

.menu {
    flex-basis: 100%;
    background-color: darkblue;
}

.articles {
    flex-basis: 100%;
    // min-height: 50vh;
    background-color: rgb(30, 71, 76);
}

.recipes {
    flex-basis: 100%;
    background-color: darkgoldenrod;
}

.footer {
    background-color: darkblue;
    flex-basis: 100%;
    .calc {
        color: goldenrod;
        text-decoration: none;
    }
}